// All variables need to be named as ${rule}-${element}-${modifier}


//
// Colors
//

// Common colors
// Add !default so _custom.scss can override it
$color-background: white !default;
// Use rgba so it can nesting
$color-background-over: rgba(0, 0, 0, 0.05) !default;
$color-border: #ddd !default;
$color-text-muted: #777 !default;
$color-text: #333 !default;

// hsl is easy to modify
$color-text-primary: hsl(210, 86%, 50%) !default;
$color-text-danger: hsl(0, 94%, 60%) !default;

$color-background-primary: desaturate($color-text-primary, 30%) !default;
$color-background-primary-over: transparentize($color-text-primary, 0.9) !default;

$color-background-danger: desaturate($color-text-danger, 30%) !default;
$color-background-danger-over: transparentize($color-text-danger, 0.9) !default;

// `mark`
$color-background-mark: #ff0 !default;


//
// Container
//

$width-scrollbar: 17px !default;

$min-width-container: 320px !default;
$max-width-container: 768px !default;

$width-breakpoint: $max-width-container + $width-scrollbar !default;

// Set the default max-height to scroll-view
$max-height-scroll-view: 300px !default;


//
// Spacing
//

// The base size, all other size are based on it
$size-base: 10px !default;

$width-gap: $size-base * 1.2 !default;
$width-gap-double: $width-gap * 2 !default;
$width-gap-half: $width-gap / 2 !default;

$width-padding-input: $size-base / 2 !default;

$width-border-radius: $size-base * 0.3 !default;

$width-border: 1px !default;

// $width-padding-input + $width-border
$width-padding-border-input: $width-padding-input + $width-border !default;


//
// Typography
//

$font-size: $size-base * 1.6 !default;

$font-size-h1: $size-base * 3 !default;
$font-size-h2: $size-base * 2.6 !default;
$font-size-h3: $size-base * 2.4 !default;
$font-size-h4: $size-base * 2.2 !default;
$font-size-h5: $size-base * 2 !default;
$font-size-h6: $size-base * 1.8 !default;

$font-size-pre: $size-base * 1.3 !default;

$font-size-small: 85% !default;

$line-height: 1.5 !default;

$line-height-input: 1.25 !default;
// line-height need to be set to pre, not code
$line-height-pre: 1.2 !default;

$font-weight-bold: 600 !default;

$font-family:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  'Segoe UI',
  // Android
  'Roboto',
  // Linux
  'Oxygen', // KDE
  'Ubuntu',
  'Cantarell', // GNOME
  // Firefox OS [R.I.P.]
  'Fira Sans',
  // Older Android
  'Droid Sans',
  // Chinese font for OSX and iOS
  'Hiragino Sans GB',
  // Chinese font for Windows
  'Microsoft Yahei', '微软雅黑',
  // Basic web fallback
  Arial, Helvetica, STHeiti, sans-serif,
  // Emoji
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$padding-code: 0.2em 0.3em !default;


//
// Forms
//

// Background image of down arrow
$background-image-angle-down: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='20' viewBox='0 0 32 20'><path fill='#{$color-text}' d='M0 0h32L16 20z'/></svg>") !default;
